<p>Measure things as close to their action as possible.</p>
<ul>
	<li>Proposed by Geramn physicist Ernest Abbe, these are angular errors that increase with distance.</li>
	<li>The best measurements are achieve when taken as close eto the action as possible. For example, placing a temperature sensor near a heat source will result in more accurate measurements than a sensor placed farther away.</li>
	<li>The principle also has implications for the design of mechanisms. Actuators and bearings should be placed as close to lines of action as possible.</li>
</ul>
