<!-- 005 Aesthetic Usability Effect -->
<p>Aesthetic things are perceived to be easier to use than ugly things.</p>
<ul>
	<li>Aesthetic things are often subjectively related as easier to use, even when no usability advantage can be objectively measured</li>
	<li>Aesthetic things are more effective at fostering positive attitudes than ugly things, making people more tolerant when problems are encountered</li>
	<li>Aesthetic things are more likely to be tried, accepted, displayed, and repeatedly used than ugly things</li>
	<li>Aspire to create aesthetically pleasing designs. It is more than ornamentation-- it is an investment in user acceptance, forgiveness, and satisfaction</li>
</ul>