<!-- 004 Accessibility -->
<p>Things should be designed to be useable, without modification, by as many people as possible.</p>
<ul>
	<li>Historically, accessibility in design focused on accomodating people with disabilities.</li>
	<li>Modern practice accepts that most accomodations can be designed to benifit everyone.,</li>
	<li>Make things perceptible by everyone. For example, position controls and information so that seated and standing people can percieve them.</li>
	<li>Make things learnable by everyone. for example, use redundant coding methods (e.g., textual, iconic, and tactile) on controls and signage.</li>
	<li>Make the consequences of errors non-catastrophic, and reversible whenever possible.</li>
</ul>