<!-- 007 Alignment -->
<p>The placement of elements such that edges line up along common rows or columns, or their bodies along a common center.</p>
<ul>
	<li>Alignment among elements in a design creates a sense of unity and cohesion</li>
	<li>Left and right aligned text blocks provide better alignment cues than center aligned text blocks</li>
	<li>Justified text provides more alignment cues than unjustified text, and should be used in complex compositions with many elements</li>
	<li>Treat the edges of the design medium and the natural positions on the medium as alignment elements</li>
	<li>Align every element in your design with one or more other elements. This will improve the design's perceived stability and overall aesthetic</li>
</ul>