<!-- 008 Anthromorphism -->
<p>A preference for things that appear humanlike or exhibit humanlike characteristics.</p>
<ul>
	<li>People tend to ascribe humanlike characteristics to things that look or act like humans, resulting in a preference for anthropomorphic forms</li>
	<li>Humanlike forms evoke more emotion and are less sensitive to negative information in buying decisions. Non humanlike forms are evaluated more analytically</li>
	<li>Use contoured or hourglass proportions to elicit feminine and sexual associations, while round forms elicit babylike associations, and regular forms elicit masculine and aggressive associations</li>
</ul>