<!-- 006 Affordance -->
<p>The physical characteristics of a thing influence its function and use.</p>
<ul>
	<li>The form of a thing makes it better suited for some functions than others. For example, wheels afford rolling, and negatively afford being stationalry</li>
	<li>The form of a thing makes it better suited for some interactions than others. For exmple, buttons afford pushing, and negatively afford pulling</li>
	<li>When affordances are good, things perform efficiently and are intuitive to use. When affordance are bad, things perform poorly and are hard to use.</li>
	<li>Design thinsg to afford proper use, and to negatively afford improper use. when affordances are correctly applied, it will seem inconceivable that a thing can function or be used otherwise.</li>
</ul>