<div class="col-sm-8 col-sm-offset-2 col-xs-12">
<br>
	<p>Hi, my name is Gagan and I created this site as a fun exercise to learn the top design principles of today. I chose to put it on <a href="https://github.com/gaganh/uxhax">github</a> and host it online for others to enjoy.</p>
<br>
	<p>If you are able to complete the quiz at 100%, you will be invited to join the leaderboard and live a life of infamy.</p>

	<p>Feel free to find me at <a href="https://thegagan.com">my site</a> or <a href="mailto:thegagan@gmail.com">email me</a>.</p>
<br>
</div>