<div ng-controller="LeaderboardCtrl">
	<h3 class="centered">The Dear Learderboard</h3>
	<div class="col-xs-12">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Player</th>
					<th>Total Attempts</th>
					<th>Profession</th>
					<th>Personal Message</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Gagan Hothi</td>
					<td>150</td>
					<td>Designer and Developer</td>
					<td>Lol just kidding, I haven't even tried yet!</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
