<div ng-controller="MainCtrl">
  <div class="col-xs-12">
    <br>
    <div class="clearfix"></div>
    <div class="col-sm-3 col-xs-3 centered">
      <h4>0.</h4>
      All Design Principles start 
      <br> <div class="label label-default">Unlearned</div>
    </div>
    <div class="col-xs-3 centered">
      <h4>1.</h4>
      Guess the principle to 
      <br> <div class="label label-success">Learn it</div>
    </div>
    <div class="col-xs-3 centered">
      <h4>2.</h4> 
      Retest each principle to 
      <br><div class="label label-purple">Lock it In</div>
    </div>
    <div class="col-xs-3 centered">
      <h4><i>N</i>.</h4>
      Lock in all 150 to win! 
      <br><img src="http://image.flaticon.com/icons/png/128/123/123410.png" height="15"></div>
    </div>
    <div class="col-xs-12">
      <br/>
      <div class="progress" style="height: 100px;">
        <div class="progress-bar progress-bar-purple progress-bar-striped progress-bar active" role="progressbar"
             progressbar total="progressTotal" current="progressCurrent3"></div>
        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
             progressbar total="progressTotal" current="progressCurrent2"></div>
        <div class="progress-bar progress-bar-gray" role="progressbar"
             progressbar total="progressTotal" current="progressCurrent1"></div>
        <span id="tooltipCurrent1"></span>
        <span id="tooltipCurrent2"></span> 
        <span id="tooltipCurrent3"></span>
      </div>
    <div class="clearfix"></div>
    
    <!-- <code ng-repeat="fac in filteredAnswerChoices">{{fac | json}} <br></code> -->
  </div>  

  <div class="col-sm-7 col-xs-12">
    <h3>Principle Description:</h3>
    <div class="jumbotron">
      <div ng-include="gotInclude"></div>
    </div> 
  </div>

  <div class="col-sm-5 col-xs-12">
    <h3>Select An Answer: </h3>
    <form ng-submit="validateAnswer()" name="multipleChoice">
      <ul class="btn-group" id="multiSelection" data-toggle="buttons">
        <li ng-repeat="choice in filteredAnswerChoices track by $index">
          <label class="btn btn-block" ng-click="clearNaInput(); setRadioVal($index);" style="text-align: left;">
            <input type="radio" name="options" ng-model="radioVal" ng-value="choice.id" style="display:none; position: fixed; top: -1000px;">
            {{choice.name}} ({{choice.id}})
          </label>
        </li>
        <li>
          <label class="btn btn-block" style="text-align: left;">
            <input type="text" class="form-control width-100p" ng-model="manualAnswer" placeholder="None of the Above" ng-click="selectNaRadios();">
            <input id="naRadio" type="radio" name="options" ng-model="radioVal" ng-value="choice.id" style="position: fixed; top: -1000px;">
          </label>
        </li>
      </ul>

      <button id="submit" class="btn-lg pull-right sharp-corners" type="submit"><i class="glyphicon glyphicon-send" ng-click="validateNaAnswer();"></i> &emsp; Submit</button>

    </form>
    <a id="skip" tooltip data-toggle="tootip" data-title="Just don't make it a habit" class="btn btn-link btn-lg" ng-click="reroll();">skip</i></a>
    <br><br><br>
    {{answerChoices}}
  </div>

  <div class="clearfix"></div>

<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>