@import "https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Ubuntu";
.purple {
  color: purple; }

.blk {
  color: rgba(0, 0, 0, 0.75); }

.light {
  font-weight: 100; }

.ubuntu {
  font-family: 'Ubuntu', sans-serif; }

.centered {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.pad-0 {
  padding: 0px; }

html, body {
  height: 100%;
  width: 100%; }

body {
  background-color: purple; }

#logo {
  text-shadow: 3px 0px 0px white;
  font-size: 48px; }

#bodybg {
  z-index: -1;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url("../images/ignasi_pattern_s.png");
  background-repeat: both;
  opacity: .9; }

#intro {
  margin-top: 225px; }

.xccc {
  color: white;
  font-size: 48px;
  opacity: .75; }

.parallax {
  height: 300px;
  width: 100%;
  position: fixed;
  top: 75px;
  z-index: -1; }

.bg-white {
  background-color: white; }

.bg-f3 {
  background-color: #f3f3f3; }

gray {
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold; }

red {
  color: red;
  font-weight: bold; }

orange {
  color: #ff9e1b;
  font-weight: bold; }

green {
  color: green;
  font-weight: bold; }

.p12 {
  font-size: 12px; }

.sharp-corners {
  border-radius: 0; }

.width-100p {
  width: 100%; }

.pad-5 {
  padding: 5px; }

.progress-bar-gray {
  background-color: #ccc; }

.footer {
  border: none;
  opacity: .5;
  position: fixed;
  bottom: -10px;
  width: 100%;
  border: none; }
  .footer:hover {
    opacity: 1; }

ul#multiSelection {
  width: 100%;
  padding-left: 0; }
  ul#multiSelection li {
    list-style: none; }
    ul#multiSelection li label {
      -moz-transition: background-color 0.5s, color 0.5s, 0.25, tint 1s;
      -o-transition: background-color 0.5s, color 0.5s, 0.25, tint 1s;
      -webkit-transition: background-color 0.5s, color 0.5s, 0.25, tint 1s;
      transition: background-color 0.5s, color 0.5s, 0.25, tint 1s;
      background-color: #f3f3f3;
      border-radius: 0;
      margin-bottom: 2px;
      display: block;
      color: purple;
      background-color: #f3f3f3;
      border-radius: 3px; }
      ul#multiSelection li label:hover, ul#multiSelection li label.active {
        background-color: purple;
        background-color: #c080c0;
        color: white;
        font-weight: bold; }
        ul#multiSelection li label:hover input, ul#multiSelection li label.active input {
          color: white; }
      ul#multiSelection li label.active input {
        color: white; }
    ul#multiSelection li input {
      background-color: transparent;
      box-shadow: none;
      border: none;
      padding-left: 0;
      color: black;
      cursor: pointer; }
      ul#multiSelection li input::-webkit-input-placeholder {
        color: purple; }
      ul#multiSelection li input:-moz-placeholder {
        color: purple; }
      ul#multiSelection li input::-moz-placeholder {
        color: purple; }
      ul#multiSelection li input:-ms-input-placeholder {
        color: purple; }

button#submit {
  -moz-transition: background-color 0.5s, color 0.5s;
  -o-transition: background-color 0.5s, color 0.5s;
  -webkit-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;
  background-color: white;
  color: purple;
  padding: 10px 30px;
  border: 2px solid purple; }
  button#submit:hover, button#submit.active {
    background-color: purple;
    color: white; }

#skip {
  color: rgba(0, 0, 0, 0.4);
  -moz-transition: color 0.5s, margin 0.5s;
  -o-transition: color 0.5s, margin 0.5s;
  -webkit-transition: color 0.5s, margin 0.5s;
  transition: color 0.5s, margin 0.5s;
  margin-left: 0; }
  #skip:before {
    -moz-transition: color 0.5s, left 0.25s;
    -o-transition: color 0.5s, left 0.25s;
    -webkit-transition: color 0.5s, left 0.25s;
    transition: color 0.5s, left 0.25s;
    content: ':(';
    color: white;
    position: absolute;
    left: -30px; }
  #skip:hover {
    margin-left: 25px;
    color: purple;
    text-decoration: none; }
    #skip:hover:before {
      color: purple;
      left: 20px; }

#view-leaderboard h3 {
  color: purple !important; }

/*# sourceMappingURL=main.css.map */
