// bower:scss
// endbower



// FONTS
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Ubuntu';
@import 'transitions';
@import 'functions';

// MICRO STYLES
$blk: rgba(0,0,0,.75); 

.purple { color: purple; }
.blk { color: $blk; }
.light { font-weight: 100; }
.ubuntu { font-family: 'Ubuntu', sans-serif; }
.centered { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.pad-0 { padding: 0px; }

// BRAND
html, body { height: 100%; width: 100%; }
body { background-color: purple; }

#logo { 
  text-shadow: 3px 0px 0px white;
  font-size: 48px; 
}

// body { background-color: #f3f3f3; }
#bodybg {
  z-index: -1;
  height: 100%;
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  background-image: url('../images/ignasi_pattern_s.png');
  background-repeat: both;
  opacity: .9;
}

#intro { margin-top: 225px;}
// pseudo-id substitutes
.xccc { color: white; font-size: 48px; opacity: .75; }

.parallax { 
  height: 300px;
  width: 100%; 
  position: fixed;
  top: 75px;
  z-index: -1;
}



  // &:after {
  //   content: "";
  //   background: url(http://subtlepatterns.com/patterns/bo_play_pattern.png) repeat;
  //   top: 0;
  //   left: 0;
  //   bottom: 0;
  //   right: 0;
  //   position: absolute;
  //   z-index: -1;   
  // }
// }

.bg-white { background-color: white; }
.bg-f3 { background-color: #f3f3f3; }
gray { color: rgba(0,0,0,.7); font-weight: bold;}
red { color: red; font-weight: bold; }
orange { color: #ff9e1b; font-weight: bold; }
green { color: green; font-weight: bold; }
.p12 { font-size: 12px;}
.sharp-corners { border-radius: 0;}

.width-100p { width: 100%; }
.pad-5 { padding: 5px; }


// progress bar
.progress-bar-gray { background-color: #ccc; }
.progress-bar-purple { background-color: purple; }
.label-purple { background-color: tint(purple, 25%); }

.footer { border: none; opacity: .5; position: fixed; bottom: -10px; width: 100%; border: none;
  &:hover { opacity: 1; }
}

ul#multiSelection {
  width: 100%;
  padding-left: 0;
  li { 
    list-style: none;
    label {
      @include transition(background-color .5s, color .5s,  .25, tint 1s);
      background-color: #f3f3f3;
      border-radius: 0;
      margin-bottom: 2px;
      display: block;
      color: purple;
      background-color: tint(#f3f3f3, 0%);
      border-radius: 3px;
      &:hover, &.active { 
        background-color: purple;
        background-color: tint(purple, 50%);
        color: white;
        font-weight: bold;
        input { color: white; }
      }
      &.active input { color: white;}
    }
    input { 
      background-color: transparent; 
      box-shadow: none;
      border: none;
      padding-left: 0;
      color: black;
      cursor: pointer;
      &::-webkit-input-placeholder { color: purple; }
      &:-moz-placeholder { color: purple ; }
      &::-moz-placeholder { color: purple; }
      &:-ms-input-placeholder { color: purple; }
    }
  }
}

button#submit { 
  @include transition(background-color .5s, color .5s);
  background-color: white;
  color: purple;
  padding: 10px 30px;
  border: 2px solid purple; 
  &:hover, &.active {
    background-color: purple;
    color: white; 
  }
}

#skip { color: rgba(0,0,0,.4);
  @include transition(color .5s, margin .5s);
  margin-left: 0;
  &:before { 
    @include transition(color .5s, left .25s);
    content: ':('; color: white; position: absolute; left: -30px;}
  &:hover { 
    margin-left: 25px;
    color: purple; 
    text-decoration: none;
    &:before { color: purple; left: 20px;}
  }
}

#view-leaderboard  {
  h3 { color: purple !important; }
}





