// bower:scss
// endbower


// FONTS
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Ubuntu';

.purple { color: purple; }
.light { font-weight: 100; }
.ubuntu { font-family: 'Ubuntu', sans-serif; }
.centered { text-align: center; }
.xccc { color: white; text-shadow: 2px 2px purple; font-size: 24px; }
body { background-color: #f3f3f3; }
.bg-white { background-color: white; }
.bg-f3 { background-color: #f3f3f3; }
red { color: red; font-weight: bold; }
orange { color: #ff9e1b; font-weight: bold; }
green { color: green; font-weight: bold; }
.p12 { font-size: 12px;}

.pad-5 { padding: 5px; }

.footer { border: none; opacity: .5; position: fixed; bottom: -10px; width: 100%; border: none;
  &:hover { opacity: 1; }
}
